extends layout

block content
  h1 我的竞猜圈子：

  table
    thead
      th name
      th owner
      th desc
    tbody
    each item in items
      tr
        td
          a(href="/circle/#{item.no}") #{item.name}
        td #{item.owner}
        td #{item.desc}
