extends layout

block content
  .alert.alert-info.alert-dismissable
    button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
    p
      strong 2014.6.19 update:
    p 1. 比赛开始前，只显示竞猜比分的人数，而不显示明细。
    p 2. 比赛开始后，显示竞猜比分的人数及明细。
  .jumbotron
    h1 你，我的世界杯竞猜之旅
    hr 
    p 它什么也没有，除了世界杯的竞猜功能；
    p 它什么也没有，除了分享世界杯的参与感；
    p 它什么也没有，除了提供一个球迷们众乐乐的平台。
    hr
    p 这个夏天，时区：
      code UTC-3
      | ，你准备好了吗？
    p(align="right")
      a.btn.btn-lg.btn-success(href='/user/reg') 注册
      |    
      a.btn.btn-lg.btn-info(href='/rule') 竞猜规则
