extends layout

block content
  .page-header
    h2 登录

  form.form-horizontal(action="/user/login" method="post")
    .form-group
      label.col-sm-2.control-label 用户名
      .col-sm-3
        input.form-control(type="text", name="user")
    .form-group
      label.col-sm-2.control-label 密码
      .col-sm-3
        input.form-control(type="password", name="password")
    .form-group
      .col-sm-offset-2.col-sm-3
        button.btn.btn-default(type='submit') 登录