extends layout

block content
  .page-header
    h2 比赛#{no}目前竞猜结果

  table.table.table-hover
    thead
      th 竞猜者
      th 竞猜比分
    tbody
    each item in items
      tr
        td #{item.user}
        td #{item.bet[0]}