extends layout

block content
  .page-header
    h2 注册功能暂时关闭，要帐号的给hweicdl@cn.ibm.com发信吧。

//  form(action="/user/reg" method="post")
//    span 用户名：
//    input(type="text", name="user")
//    p
//    span 密码：
//    input(type="password", name="password")
//    p
//    span 确认密码：
//    input(type="password", name="password1")
//    p
//    span 用户昵称：
//    input(type="text", name="showname")
//    p
//    button(type='submit') 提交