extends layout

block content
  .page-header
    h2 竞猜规则

  p 1. 以个人为单位参加竞猜
  p 2. 在每场比赛前点击相应比赛的竞猜按钮提交比分（截止时间为比赛开始时）
  p 3. 允许重复提交比分，以比赛前最后一次提交为准
  p 4. 若某场比赛未提交比分，该场竞猜视为无效

  .page-header
    h2 积分规则

  p 1. 完全猜中比分，得3分
  p 2. 仅猜中胜平负关系，得1分
  p 3. 其他情况得0分
  p PS: 若淘汰赛90分钟内打成平局，则以120分钟的最终结果为准（即不计点球大战结果）

  .page-header
    h2 奖励/惩罚

  p option1: 以圈子为单位，以距第一名的分数差来决定请客吃饭的惩罚（例如：圈子有3人，分数分别为60,50,40，那么分数差为0,10,20。如果吃顿300元的饭局，第二名将掏100元，第三名将掏200元）
  p option2: 以圈子为单位，后N名请前N名吃饭
  p option3: 各圈子自行决定
